#container {
  display: grid;
  /* grid-auto-row: 1fr; */
  /* grid-auto-column: 1fr; */
  padding: 5px;
  width: 40px;
  height: 40px;
}

.btn {
  display: block;
  font-size: 15px;
  margin: auto;
}

h1 {
  text-align: center;
}

.sq1 {
  border: 3px solid blue;
  padding: 40px;
}

