#container {
  display: grid;
  padding: 15px;
  width: 40px;
  height: 40px;
}

.btn {
  display: block;
  font-size: 15px;
  margin: auto;
}

h1 {
  text-align: center;
}

div {
  margin: auto;
  justify-content: center;
 } 

.cell {
  border: 1px solid grey;
  padding: 40px;
}

